body{
  font-family: sans-serif;
  line-height: 1.4;
}
#title {
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  background-color: #f7f7f7;
}

#price{
  font-size: 24px;
}

#freeShipping{
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  color: #777;
}

a,
a:visited{
  color:black;
}

a:active,
a:hover{
  text-decoration: none;
}

ul{
  text-transform: uppercase;
  font-size: 16px;
  list-style: square;
}

button{
  background-color: #000;
  border:none;
  color:#fff;
  font-size: 20px;
  text-transform: uppercase;
  cursor:pointer;
}

button:hover{
  background-color: #fff;
  color:#000;
}

article{
  border-style: solid;
  border-width: 4px;
}